In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('/Users/rishismac/Desktop/UpGrad/AirPassengers.csv')
data

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [3]:
values=data['#Passengers']
values=np.array(values)
train_size=int(len(values)*0.67)
train_data=values[:train_size]
test_data=values[train_size:]
test_data.shape

(48,)

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
train_data=scaler.fit_transform(train_data.reshape(-1,1))
test_data=scaler.transform(test_data.reshape(-1,1))
train_data[:5]

array([[0.02588997],
       [0.04530744],
       [0.09061489],
       [0.08090615],
       [0.05501618]])

In [5]:
def create_dataset(data,look_back):
    train_x,train_y=[],[]
    for i in range(len(data)-look_back):
        x=data[:look_back]
        y=data[look_back:look_back+1]
        train_x.append(x)
        train_y.append(y)
    return np.array(train_x),np.array(train_y).reshape(-1,1)

In [6]:
train_x,train_y=create_dataset(train_data,12)
test_x,test_y=create_dataset(test_data,12)

In [7]:
from keras.models import Sequential
from keras.layers import SimpleRNN,Dense

In [17]:
model=Sequential()
model.add(SimpleRNN(4,input_shape=(12,1)))
model.add(Dense(1))
model.compile(loss='mean_squared_error',optimizer='adam')
history=model.fit(train_x,train_y,epochs=10,batch_size=1)

Epoch 1/10
84/84 [==============================] - 0s 1ms/step - loss: 0.0012
Epoch 2/10
84/84 [==============================] - 0s 941us/step - loss: 1.7380e-07
Epoch 3/10
84/84 [==============================] - 0s 976us/step - loss: 2.9354e-11
Epoch 4/10
84/84 [==============================] - 0s 986us/step - loss: 4.7454e-15
Epoch 5/10
84/84 [==============================] - 0s 981us/step - loss: 3.7999e-18
Epoch 6/10
84/84 [==============================] - 0s 975us/step - loss: 0.0000e+00
Epoch 7/10
84/84 [==============================] - 0s 967us/step - loss: 0.0000e+00
Epoch 8/10
84/84 [==============================] - 0s 1ms/step - loss: 0.0000e+00
Epoch 9/10
84/84 [==============================] - 0s 967us/step - loss: 0.0000e+00
Epoch 10/10
84/84 [==============================] - 0s 990us/step - loss: 0.0000e+00

In [18]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn_4 (SimpleRNN)    (None, 4)                 24

 dense_4 (Dense)             (None, 1)                 5

=================================================================
Total params: 29 (116.00 Byte)
Trainable params: 29 (116.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________